# Student Alcohol Consumption

Martin Škára + Jindřich Buk

Tato semestrální práce se zabývá zpracováním datasetu Student Alcohol Consumption, získaného zde: https://data.world/data-society/student-alcohol-consumption. Tento iPython notebook se skládá z následujících částí: základní popis tohoto datasetu, zpracování a preprocessing dat, vizualizace dat, vytvoření modelů, tuning metaparametrů, výsledky a evaluace. 


//Nechal bych v týhle buňce jen něco na způsob výše, tohle jen tak narychlo osnova

## Osnova - po dokončení smazat

### Popis datasetu

Za mě, minimálně základně DONE (Martin 4.4.2019)

### Zpracování dat (preprocessing)

Asi pro nás spojení těch dvou datasetů, zprůměrování skore alkoholismu v pracovní den s víkendem možná? Plus odstranění některých sloupců. Mělo by být použité pandas.

### Vizualizace dat

Viz příklad co má na webu k předmětu https://www.datacamp.com/community/tutorials/scikit-learn-tutorial-baseball-1

### Modelování

Každej jeden model asi? Musí se použít buď rozdělení dat na testovací/trénovací či crossvalidace. Za mě bych se přikláněl ke crossvalidaci. Nutno použít balíky z sklearn.

### "Tunění" parametrů

Buď zkusit několik konfigurací modelu a srovnat je, či grid search apod.

### Výsledky/Evaluace

výsledky, jak byl modej dobrej apod., plus nějaký kecy třeba že největší vliv na to má matčino povolání 

zobrazit accuracy, pak mě třeba napadá matice záměn nebo co se nám bude chtít

## Popis datasetu

Data byla získána pomocí dotazníku mezi studenty matematiky a portugalštiny na střední škole. Samotný dataset je rozdělený mezi dva menší - jeden obsahuje odpovědi studentů matematiky, druhý odpovědi studentů portugalštiny. Dataset samotný se zajímá různými informacemi o studentovi, ale jeho cílem je zmapovat chování a zázemí studentů a jejich vztah k alkoholu.

### Atributy datasetu

* *school* - Škola, na kterou studenti chodí ('GP' - Gabriel Pereira a 'MS' - Mousinho da Silveira)
* *sex* - Pohlaví studenta ('F' pro ženu, 'M' pro muže)
* *age* - Věk studenta (číslo)
* *adress* - Typ studentova bydliště ('U' - urban (město), 'R' - rural (venkov))
* *famsize* - Počet členů studentovy rodiny v domácnosti ('LT3' - 3 a méně, 'GT3' - více než 3)
* *Pstatus* - Atribut označuje zdali studentovi rodiče žijí spolu či ne ('T' - žijí spolu, 'A' - žijí odděleně)
* *Medu* - vzdělání matky (0 - žádné, 1 - základní vzdělání (4th grade), 2 - základní vzdělání (více než 4th grade), 3 - středoškolské vzdělání, 4 - vyšší vzdělání)
* *Fedu* - obdobný atribut jako Medu, označující vzdělání otce
* *Mjob* - práce matky ('teacher' - učitelka, 'health' - vztahující se ke zdraví a péči, 'services' - státní zaměstnankyně, 'at_home' - v domácnosti, 'other' - jiné)
* *Fjob* - obdobný atribut jako Mjob, označující práci otce
* *reason* - Důvod, proč si student vybral jeho školu ('home' - blízko domova, 'reputation' - reputace školy, 'course' - kvůli předmětům/oboru, 'other' - jiné)
* *guardian* - zákonný zástupce ('mother' - matka, 'father' - otec, 'other' - někdo jiný)
* *traveltime* - jak dlouho student cestuje do školy (1 - do 15 min., 2 - mezi 15 a 30 min., 3 - mezi 30 min. a 1 hodinou, 4 - více než hodinu)
* *studytime* - kolik hodin týdně se student doma učí (1 - méně než 2 hodiny, 2 - 2-5 hodin, 3 - 5-10 hodin, 4 - více než 10 hodin)
* *failures* - kolik předmětů student dokončil neúspěšně
* *schoolsup* - Má extra doučování ve škole
* *famsup* - Má doučování doma od rodiny
* *paid* - Má placené doučování? 
* *activities* - Zdali se student účastní nějakých extra aktivit ve škole (spolky, týmy apod.)
* *nursery* - Chodil student do školky?
* *higher* - Chce jít student dále na vysokou či vyšší odbornou školu?
* *internet* - Má doma student přístup k internetu?
* *romantic* - Má student přítele/přítelkyni?
* *famrel* - Kvalita studentových vztahů v rodině (1 - nejhorší až 5 - nejlepší)
* *freetime* - Kolik volného času má student mimo školu (1 - velmi málo až 5 - velmi mnoho)
* *goout* - Jak často chodí student ven s kamarády (1 - vůbec či téměř ne až 5 - velmi často)
* *Dalc* - Jak moc student konzumuje alkohol v pracovním týdnu (1 - vůbec či téměř ne až 5 - velmi)
* *Walc* - Obdobný atribut jako Dalc, ale označuje konzumaci alkoholu o víkendech
* *health* - studentova zdravotní kondice (1 - velmi špatná až 5 - velmi dobrá)
* *absences* - počet absencí ve škole
* *G1* - známka z předmětu  v prvním pololetí
* *G2* - známka z předmětu  v druhém pololetí
* *G3* - konečná známka z předmětu

Někteří studenti spadají do obou částí datasetu, tj. studovali jak portugalštinu, tak matiku.

## Zpracování a preprocessing dat

Jelikož, jak bylo psáno v předchozí části tohoto notebooku, se dataset skládá ze dvou menších, je zapotřebí nejdříve tyto dva datasety spojit do jednoho DataFramu.

In [1]:
# import pandas and InteractiveShell
import pandas as pd

# nahrání obou částí datasetu a spojení jich v jeden 
df_1 = pd.read_csv("student-mat.csv")
df_2 = pd.read_csv("student-por.csv")
df = pd.concat([df_1, df_2], ignore_index=True)

Jak lze vidět, vytvořili jsme jeden velký DataFrame. Jenže jak z popisu dat víme, někteří studenti jsou v něm dvakrát, jelikož studovali oba kurzy (Matiku i Portugalštinu). Je třeba tyto duplikáty odstranit. Na stránce, kde jsme dataset získali je zobrazeno, dle kterých atributů lze poznat stejného studenta.

In [2]:
# odstranění duplikátů z datasetu a resetování indexů řádků
df = df.drop_duplicates(subset=["school", "sex", "age", "address", "famsize", "Pstatus", "Medu", "Fedu", "Mjob", "Fjob", "reason", "nursery", "internet"])
df = df.reset_index(drop=True)

Duplikáty byly odstraněny. Dále smažeme některé sloupce, dle kterých nechceme klasifikovat studentský alkoholismus. Těmi budou school, G1 a G2 (ze známek ponecháme pouze finální známku z předmětu).

In [3]:
# odstranění některých sloupců
df = df.drop("school", 1)
df = df.drop("G1", 1)
df = df.drop("G2", 1)

Klasifikovat budeme u studentů jejich alkoholismus, tj. výsledným atributem by mohl být Dalc či Walc. Pro zjednodušení tyto dva atributy zprůměrujeme a zaokhoruhlíme nahoru a tak dostaneme společný atribut jak pro pití v pracovním týdnu, tak o víkendu. Zároveň tak můžeme vypustit atributy Dalc a Walc.

In [4]:
# Vytvoření atributu celkového alkoholismu
df["Alc"] = round((df["Dalc"] + df["Walc"])/2)
df["Alc"] = df["Alc"].astype(int)
df = df.drop("Dalc", 1)
df = df.drop("Walc", 1)

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,higher,internet,romantic,famrel,freetime,goout,health,absences,G3,Alc
0,F,18,U,GT3,A,4,4,at_home,teacher,course,...,yes,no,no,4,3,4,3,6,6,1
1,F,17,U,GT3,T,1,1,at_home,other,course,...,yes,yes,no,5,3,3,3,4,6,1
2,F,15,U,LE3,T,1,1,at_home,other,other,...,yes,yes,no,4,3,2,3,10,10,2
3,F,15,U,GT3,T,4,2,health,services,home,...,yes,yes,yes,3,2,2,5,2,15,1
4,F,16,U,GT3,T,3,3,other,other,home,...,yes,no,no,4,3,2,5,4,10,2
5,M,16,U,LE3,T,4,3,services,other,reputation,...,yes,yes,no,5,4,2,5,10,15,2
6,M,16,U,LE3,T,2,2,other,other,home,...,yes,yes,no,4,4,4,3,0,11,1
7,F,17,U,GT3,A,4,4,other,teacher,home,...,yes,no,no,4,1,4,1,6,6,1
8,M,15,U,LE3,A,3,2,services,other,home,...,yes,yes,no,4,2,2,1,0,19,1
9,M,15,U,GT3,T,3,4,other,other,home,...,yes,yes,no,5,5,1,5,0,15,1
10,F,15,U,GT3,T,4,4,teacher,health,reputation,...,yes,yes,no,3,3,3,2,0,9,2
11,F,15,U,GT3,T,2,1,services,other,reputation,...,yes,yes,no,5,2,2,4,4,12,1
12,M,15,U,LE3,T,4,4,health,services,course,...,yes,yes,no,4,3,3,5,2,14,2
13,M,15,U,GT3,T,4,3,teacher,other,course,...,yes,yes,no,5,4,3,3,2,11,2
14,M,15,U,GT3,A,2,2,other,other,home,...,yes,yes,yes,4,5,2,3,0,16,1
15,F,16,U,GT3,T,4,4,health,other,home,...,yes,yes,no,4,4,4,2,4,14,2
16,F,16,U,GT3,T,4,4,services,services,reputation,...,yes,yes,no,3,2,3,2,6,14,2
17,F,16,U,GT3,T,3,3,other,other,reputation,...,yes,no,no,5,3,2,4,4,10,1
18,M,17,U,GT3,T,3,2,services,services,course,...,yes,yes,no,5,5,5,5,16,5,3
19,M,16,U,LE3,T,4,3,health,other,home,...,yes,yes,no,3,1,3,5,4,10,2
20,M,15,U,GT3,T,4,3,teacher,other,reputation,...,yes,yes,no,4,4,1,1,0,15,1
21,M,15,U,GT3,T,4,4,health,health,other,...,yes,yes,no,5,4,2,5,0,15,1
22,M,16,U,LE3,T,4,2,teacher,other,course,...,yes,yes,no,4,5,1,5,2,16,2
23,M,16,U,LE3,T,2,2,other,other,reputation,...,yes,yes,no,5,4,4,5,0,12,3
24,F,15,R,GT3,T,2,4,services,health,course,...,yes,yes,no,4,3,2,5,2,8,1
25,F,16,U,GT3,T,2,2,services,services,home,...,yes,yes,no,1,2,2,5,14,8,2
26,M,15,U,GT3,T,2,2,other,other,home,...,yes,yes,no,4,2,2,5,2,11,2
27,M,15,U,GT3,T,4,2,health,services,other,...,yes,yes,no,2,2,4,1,4,15,3
28,M,16,U,LE3,A,3,4,services,other,home,...,yes,yes,no,5,3,3,5,4,11,1
29,M,16,U,GT3,T,4,4,teacher,teacher,home,...,yes,yes,yes,4,4,5,5,16,11,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,F,17,R,GT3,T,0,0,at_home,other,course,...,yes,yes,no,4,4,3,5,0,11,1
633,F,17,R,LE3,A,3,1,other,at_home,course,...,no,no,no,4,2,3,3,5,8,2
634,F,17,U,GT3,T,4,2,teacher,services,home,...,yes,yes,no,5,5,5,5,0,0,2
635,F,18,R,LE3,T,2,2,services,services,course,...,yes,yes,no,2,3,3,4,3,8,2
636,F,17,U,GT3,T,4,1,health,at_home,course,...,yes,no,yes,3,2,2,5,0,9,1
637,F,17,U,LE3,T,1,2,at_home,other,course,...,yes,yes,no,5,5,1,3,0,10,1
638,F,18,U,GT3,T,2,2,services,at_home,reputation,...,yes,yes,no,4,3,5,1,2,14,1
639,F,17,U,GT3,T,3,3,services,services,course,...,yes,yes,no,4,4,3,4,0,13,1
640,F,18,U,LE3,A,1,2,at_home,other,reputation,...,yes,yes,no,4,4,3,4,0,14,2
641,F,18,U,GT3,T,4,4,teacher,teacher,reputation,...,yes,yes,no,4,3,5,1,0,18,2
642,M,18,U,LE3,T,4,4,services,other,reputation,...,yes,yes,no,5,4,5,5,3,17,1
643,F,17,U,GT3,T,4,2,other,other,course,...,yes,yes,no,4,3,3,4,0,18,2
644,F,18,R,GT3,T,2,2,at_home,other,course,...,yes,no,yes,4,3,3,4,0,0,1
645,M,18,U,LE3,T,1,2,at_home,services,home,...,yes,no,no,4,1,4,1,8,11,5
646,M,18,R,GT3,T,4,4,at_home,services,other,...,yes,yes,yes,2,5,5,1,5,14,1
647,M,17,R,GT3,T,1,1,other,services,other,...,no,no,no,4,2,3,4,4,14,4
648,F,18,U,GT3,T,2,2,other,other,course,...,yes,yes,yes,1,3,1,2,4,10,1
649,F,18,U,LE3,T,2,2,services,services,course,...,yes,yes,yes,5,4,5,3,0,13,2
650,F,18,R,LE3,A,4,2,teacher,other,reputation,...,yes,yes,yes,5,3,1,5,0,0,1
651,F,18,U,GT3,T,1,1,at_home,services,course,...,no,no,no,4,4,2,2,2,10,2
652,F,19,U,GT3,T,1,1,at_home,services,other,...,no,no,no,5,5,5,2,0,0,2
653,F,17,U,GT3,T,4,2,teacher,other,course,...,yes,yes,yes,4,2,3,5,0,18,2
654,F,17,R,LE3,A,2,1,services,other,reputation,...,yes,yes,yes,5,3,3,2,5,12,2
655,F,18,U,LE3,A,1,1,at_home,services,course,...,yes,no,yes,5,2,3,3,2,11,2
656,F,18,U,GT3,T,1,2,at_home,at_home,course,...,no,no,no,4,1,1,4,0,12,1
657,F,19,R,GT3,A,1,1,at_home,at_home,course,...,no,no,yes,3,5,4,1,0,0,2
658,F,18,R,GT3,T,2,2,services,other,home,...,yes,yes,yes,4,2,1,4,5,15,1
659,F,18,R,LE3,A,1,2,at_home,other,course,...,yes,no,yes,4,3,4,5,0,15,2
660,F,19,R,GT3,T,1,1,at_home,other,course,...,yes,yes,yes,4,3,3,3,4,9,1
661,F,17,U,GT3,T,4,3,teacher,other,other,...,yes,yes,no,5,5,4,1,0,11,1

Dále upravíme atributy Medu a Fedu, chceme spojit hodnoty 1 a 2, nebudeme rozlišovat stupně základního vzdělání, zajímá nás pouze jestli má rodič základní vzdělání či střední, žádné nebo vyšší.

Nově tak budou tyto atributy nabývat následujících hodnot:

* *0* - žádné vzdělání
* *1* - základní vzdělání
* *2* - středoškolské vzdělání
* *3* - vyšší vzdělání než středoškolské

In [ ]:
df["Medu"]

# nedoděláno, nestihl jsem